*,
 ::after,
 ::before {
    box-sizing: border-box;
}

.movie-list,
.movie-form,
.video-player {
    margin: 40px 0;
}

.movie,
.form__item {
    padding: 8px 0;
}

.movie__link,
.move_up_button,
.move_down_button,
.remove_button,
.add-movie__button {
    cursor: pointer;
}

.movie__link {
    color: blue;
    text-decoration: underline;
}